<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preparando viaje</title>
    <link rel="icon" href="../img/astronave.png">
    <link rel="stylesheet" href="../css/contact/styles.css">
    <link rel="stylesheet" href="../css/cohete.css">

</head>
<body>
    <div id="particles-js"></div>

    <div class="rocket" id="rocket">
        <img src="../img/astronave.png">
    </div>

    <article class="contenido">
        <div>
            <h1 class="titleCont">CONTACTAME</h1>
        </div>
    </article>

    <script src="../js/particles.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/cursor.js"></script>
</body>
</html>