<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preparando viaje</title>
    <link rel="icon" href="../img/astronave.png">
    <link rel="stylesheet" href="../css/viaje.css">

</head>
<body>
    <div id="particles-js"></div>
    <div class="planeta"></div>
    
    <div class="stars" >
        <img src="../img/estrellas.png" alt="Stars_img">
    </div>

    <div>
        <img src="../img/astronave.png" class="nave">
    </div>

    <div>
        <img src="../img/planeta-tierra.png" class="tierra">
    </div>

    <!-- Scripts -->
    <script src="../js/particles.min.js"></script>
    <script src="../js/app.js"></script>
</body>
</html>